.stack-work/
*~

grammar/*.hs
grammar/*.o
grammar/*.hi
grammar/*.txt
grammar/*.x
grammar/*.y
grammar/*.info
grammar/Makefile
grammar/TestDiceExpr

src/TestDiceExpr.hs
src/AbsDiceExpr.hs
src/ErrM.hs
src/LexDiceExpr.hs
src/ParDiceExpr.hs
src/PrintDiceExpr.hs
src/SkelDiceExpr.hs
src/TestDiceExpr.hs
src/TestDiceExpr

*.bak

dice-monad-exe
